# Wig files
*.wig

# Index files
*.amb
*.ann
*.bwt
*.pac
*.sa
*.fai
*.bai

# Genome files
*.fasta
*.fastq

# Alignment files
*.sam
*.bam

# Python venv and cache
.venv
__pycache__

# Tmp dir
tmp

# Vscode
.vscode/.ropeproject

# Plots
*.png

# Docs has its own .gitignore
!docs/**/*
