# Wig files
*.wig

# Index files
*.amb
*.ann
*.bwt
*.pac
*.sa
*.fai

# Genome files
*.fasta
*.fastq

# Alignment files
*.sam
*.bam

# IGV session
*.xml

# Python venv and cache
.venv
__pycache__

# Tmp dir
tmp

# Vscode
.vscode/.ropeproject

# Plots
*.png